.menu-bar {
    padding-bottom: 20px;
    position: relative;
    bottom: 12px;
}

@media screen and (max-device-width: 767px) { 
.menu-bar {
    padding-bottom: 30px;
    position: relative;
    bottom: -5px;
    right: 25px;
    }
}

.bars {
    display: inline-block;
    width: 45px;
    height: 3px;    
    background-color: white;
    box-shadow: 0 10px 0 white, 0 20px 0 white;
}

@media screen and (max-device-width: 767px) { 
.bars {
    box-shadow: 0 15px 0 white, 0 30px 0 white;
    height: 5px;
    width: 60px;
    }
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 5px;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    margin-top: 30px;
}

@media screen and (max-device-width: 767px) { 
    .menu {
    margin-top: 0px;
    padding: 0px;
    }    
}


.menu ul {
    margin-bottom: 10px;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}