.bg-Element1 {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -500px;
}

.bg-Element1_dark {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -1650px;
}

.bg-Element2 {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -2800px;
}

.bg-Element2_dark {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -3950px;
}

.bg-Element3 {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -5100px;
}

.bg-Element3_dark {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -6250px;
}

.bg-Element4 {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -7400px;
}

.bg-Element4_dark {
    width: 150px; height: 150px;
    background: url('../img/main_block1_sprites.png') -500px -8550px;
}