/* Шрифти */
@font-face {
    font-family: Roboto-Black;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url('../fonts/Roboto-BoldItalic.ttf');
}


@font-face {
    font-family: RobotoCondensed-Bold;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}


@font-face {
    font-family: RobotoCondensed-Light;
    src: url('../fonts/RobotoCondensed-Light.ttf');
}


@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}


@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}


@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url('../fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}


@font-face {
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url('../fonts/Roboto-ThinItalic.ttf');
}

/* Шрифти */

/* Taxonomies */
h1 {
    color: #1b7fd0;
    font-family: Roboto-Bold;
    font-size: 32px;
}

@media screen and (max-device-width: 767px) {
    h1 {
        font-size: 24px;
    }
}

h2 {
    color: #1b7fd0;
    font-family: Roboto-Bold;
    font-size: 28px;
}

h3 {
    color: #000000;
    font-family: Roboto-Medium;
    font-size: 22px;
}

h4 {
    color: #1b7fd0;
    font-family: Roboto-Bold;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

body, html {
    min-width: 320px;
    background: #f4f6fa;
}

/* Taxonomies */

/* Site-Style */ 
/* HEADER */

.bgColor {
    background: url(../img/svg/header-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #013056;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1199px) {
    .right-md {
        text-align: right;
    }
    .right-xs {
        text-align: right;
    }
}

.header-contact span {
    color: #caddea;
    font-family: Roboto-Thin;
    font-size: 20px;
    font-weight: 100;
}

@media screen and (max-device-width: 767px) {
    .header-contact span {
    font-size: 16px;
    }
}

.contact-link {
    color: #caddea;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-device-width: 767px) {
    .contact-link {
    font-size: 16px;
    }
}

.contact-link:hover {
    color: #caddea;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-device-width: 767px) {
    .contact-link:hover {
    font-size: 16px;
    }
}


a.log-form {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.log-liveChat {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.header-login.log-liveChat {
    text-align: right;
}

.log-liveChat:hover {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.menu-bgColor {
    background: #1b7fd0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-lg {
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-menu {
    display: inline-block;
    text-transform: uppercase;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 12px 10px 12px;
}

@media screen and (max-width: 1199px) {
    .nav-menu {
    font-size: 18px;
    font-weight: 200;
    padding: 6px 8px 6px 8px;
    }
}

@media screen and (max-width: 991px) {
    .nav-menu {
    font-size: 13px;
    font-weight: 200;
    padding: 3px 5px 3px 5px;
    }
}

@media screen and (max-device-width: 767px) { 
    .nav-menu {
    display: block;
    font-size: 20px;
    border-bottom: 1px solid;
    }
}

.nav-menu-line {
    margin-right: 7.5px;
    margin-left: 7.5px;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

@media screen and (max-device-width: 767px) { 
    .nav-menu-line{
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .nav-menu-line {
    margin-right: 2.5px;
    margin-left: 2.5px;
    }
}
    
.nav-menu a {
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

li.nav-menu:hover {
    color: #1b7fd0;
    background-color: #caddea;
    cursor: pointer;
}

.right-lg {
    text-align: right;
}

.footer-header {
    height: 600px;
    background-image: url(../img/girl-header.png);
    background-position: 50%;
}

@media screen and (max-device-width: 767px) {
    .footer-header {
    height: 100%;
    background-image: none;
}
}

.bgLogo {
    background: url(../img/logo.png);
    padding: 10px 0;
    width: 100%;
    display: block;
    height: 77px;
    margin: 25px 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-device-width: 767px) {
    .bgLogo {
        display: none;
    }
}

.bgLogo-mobile {
    background: url(../img/logo_mobile.png);
    width: 100%;
    display: block;
    height: 65px;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-device-width: 767px) { 
.bgLogo-mobile {
    height: 55px;
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: -55px 0;
    }
}

.btn-better-with-us {
    color: #1b7fd0;
    font-family: Roboto-Regular;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.55);
    background-color: #caddea;
    text-align: center;
    padding: 15px 0;
    position: relative;
    display: inline-block;
    width: 90%;
}

@media screen and (max-device-width: 767px) {
    .btn-better-with-us {
        text-align: left;
        margin-top: 10px;
        width: 100%;
        padding: 0;
    }
}

.btn-better-with-us:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 4px 4px 7px #9bb6be;
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.btn-better-with-us:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #caddea transparent transparent transparent;
}

.txt-offer-you {
    color: #000000;
    font-family: Roboto-Medium;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0px 20px 10px;
}

@media screen and (max-device-width: 767px) {
    .txt-offer-you {
    padding: 40px 0px 5px 10px;
    }
}



.list-offer-you {
    margin-bottom: 10px;
    padding-left: 0;
}

.list-offer-you li {
    color: #000000;
    font-family: "Arial Narrow", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    padding-left: 25px;
    list-style: none;
}

.list-offer-you li:before {
    color: #1b7fd0;
    content: '\f111';
    font-size: 8px;
    font-family: FontAwesome;
    position: absolute;
    top: -1px;
    left: 10px;
}


.footer-header-buttons {
    text-align: center;
    padding: 15px 0;
}

@media screen and (max-device-width: 767px) { 
    .footer-header-buttons {
    padding: 0;
    }
}

.footer-header-buttons a{
    display: inline-block;
    width: 44%;
    margin: 10px;
    color: #1b7fd0;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 0;
    border: 1px solid #1b7fd0;
    overflow: hidden;
    position: relative;
}

@media screen and (max-device-width: 767px) { 
    .footer-header-buttons a {
    width: 90%;
    }
}

.bgColor-Price {
    background-image: url(../img/svg/header-bottom.svg);
    background-repeat: no-repeat;
    background-position: 50% 46%;
    background-size: 111%;
    background-color: #075da2;
    padding: 30px 0;
}

.get-a-price {
    color: #1b7fd0;
    font-family: Roboto-Bold;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    background-color: #caddea;
    padding: 7px 15px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .get-a-price {
    text-align: left;
    }
}

.get-a-price:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #caddea transparent transparent transparent;
    left: 0;
}
.get-a-price:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.first-order {
    float: right;
    position: relative;
    display: inline-block;
    font-size: 22px;
    width: 315px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .first-order {
    font-size: 16px;
    width: 270px;
    text-align: center;
    }
}

@media screen and (max-device-width: 767px) {
    .first-order {
    display: none;
    }
}

.first-order:before{
    content: '';
    background-image: url(../img/svg/arrow.svg);
    width: 48px;
    height: 49px;
    display: block;
    position: absolute;
    left: -100px;
    top: -8px;
    background-repeat: no-repeat;
}

.first-order b {
    position: absolute;
    color: #dd0000;
    font-family: Roboto-Regular;
    font-size: 45px;
    left: -70px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .first-order b {
    position: absolute;
    color: #dd0000;
    font-family: Roboto-Regular;
    font-size: 45px;
    left: -60px;
    }
}

.first-order i {
    color: #dd0000;
    font-family: Roboto-Regular;
    font-size: 35px;
    font-style: normal;
}

.header-input-block {
    margin-bottom: 15px;
}

.header-input-block label {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    width: 95%;
}

@media screen and (max-device-width: 767px) {
    .header-input-block label {
    width: 100%;
    }
}

.header-input-block select {
    border: none;
    padding: 9px;
    background-color: #e9f7fe;
    border-radius: 0;
    width: 95%;
    box-sizing: border-box;
    color: #013056;
    font-family: Roboto-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
}

@media screen and (max-device-width: 767px) {
    .header-input-block select {
    width: 100%;
    }
}

.total-price {
    text-align: center;
    margin: 17px auto 0;
    vertical-align: bottom;
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.total-price span {
    font-size: 47.7px;
}

.total-price i {
    font-size: 27px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .total-price i {
     display: none;
    }
}

.order-now-buttons {
    color: #ffffff;
    font-family: Roboto-Rugular;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    background-color: #dd0000;
    padding: 7px 15px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    width: 95%;
    float: right;
}

.order-now-buttons:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.order-now-buttons:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #dd0000 transparent transparent transparent;
    left: 0;
}

.order-now-buttons:hover:after {
    border-color: #a40000 transparent transparent transparent;
}

.order-now-buttons:hover {
    background: #a40000;
    color: #ffffff;
}

.first-order-xs {
    font-family: Roboto-Regular;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.55);
    background-color: #caddea;
    text-align: center;
    padding: 3px 0;
    position: relative;
    display: block;
    font-size: 16px;
    color: #1b7fd0;
}

.first-order-xs b {
    color: #dd0000;
    font-family: Roboto-Regular;
    font-size: 32px;
}

.first-order-xs i {
    color: #dd0000;
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 24px;
}

.first-order-xs:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 4px 4px 7px #9bb6be;
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.first-order-xs:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #caddea transparent transparent transparent;
}

.first-order-xs:hover {
    color: #1b7fd0;   
}

/* HEADER */

/* MAIN */

.essay-writing {
    color: #1b7fd0;
    font-family: Roboto-Bold;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    background-color: #caddea;
    padding: 7px 15px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (max-device-width: 991px) {
    .essay-writing {
    font-size: 21px;
    }
}

.essay-writing:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #caddea transparent transparent transparent;
    left: 0;
}

.essay-writing:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.main-txt-block p {
    color: #000000;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.item-block-1-4 {
    margin-top: 20px;
}

@media screen and (max-device-width: 767px) {
    .item-block-1-4 {
     display: none;
    }
}

.read-more-block {
    min-height: 690px;
    position: relative;
    cursor: pointer;
}

@media screen and (max-device-width: 1199px) {
    .read-more-block {
    min-height: 760px;
    }
}
    
@media screen and (max-device-width: 991px) {
    .read-more-block {
    min-height: 600px;
    }
}

.read-more-block:hover:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    left: 10px;
    bottom: -12px;
    box-shadow: 4px 4px 7px #9bb6be;
    width: 3px;
    height: 17px;
    transform: rotate(50deg);
}

.read-more-block:hover:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    left: 0;
    border-style: solid;
    border-width: 16px 19px 0 0;
    border-color: #fff transparent transparent transparent;
}

.read-more-block span {
    display: block;
    height: 150px;
    margin: 10px auto 20px auto;
}

.read-more-item-1 {
    background: url('../img/main_block1_sprites.png') center -500px;
}

.read-more-item-1:hover span {
    background: url('../img/main_block1_sprites.png') center -1650px
    
}

.read-more-item-2 {
    background: url('../img/main_block1_sprites.png') center -2800px;
}

.read-more-item-2:hover span {
    background: url('../img/main_block1_sprites.png') center -3950px;
}

.read-more-item-3 {
    background: url('../img/main_block1_sprites.png') center -5100px;
}

.read-more-item-3:hover span {
    background: url('../img/main_block1_sprites.png') center -6250px;
}

.read-more-item-4 {
    background: url('../img/main_block1_sprites.png') center -7400px;
}

.read-more-item-4:hover span {
    background: url('../img/main_block1_sprites.png') center -8550px;
}

.read-more-block:hover {
    box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.55);
    background-color: #fff;
}

.item-1-4-head {
    display: flex;
    min-height: 100px;
    color: #1b7fd0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

h4.item-1-4-head {
    align-items: center;
}


.item-block-1-4 p {
    color: #000000;
    font-family: "Arial Narrow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: justify;
}

.read-more-btn {
    position: absolute;
    bottom: 15px;
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #075da2;
    display: block;
    border: 1px solid #075da2;
    width: 120px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
    left: calc(50% - 60px);
}

.read-more-block ul {
    list-style: none;
    padding-left: 0;
    color: #000000;
    font-family: "Arial Narrow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
}

.read-more-block li:before {
    content: "●";
    margin-right: 7px;
}

.read-more-block-xs {
    cursor: pointer;
    position: relative;
}

.read-more-block-xs span {
    display: block;
    height: 70px;
    position: relative;
}

@media screen and (min-device-width: 641px) and (max-device-width: 767px) {
    .read-more-block-xs span {
     height: 130px;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .read-more-block-xs span {
     height: 90px;
    }
}

.read-more-item-1-xs span {
    background: url(../img/svg/Element1.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-1-xs span:hover {
    background: url(../img/svg/Element1_dark.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-2-xs span {
    background: url(../img/svg/Element2.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-2-xs span:hover {
    background: url(../img/svg/Element2_dark.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-3-xs span {
    background: url(../img/svg/Element3.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-3-xs span:hover {
    background: url(../img/svg/Element3_dark.svg) center;
    background-repeat: no-repeat;
}

.read-more-item-4-xs span {
    background: url(../img/svg/Element4.svg) center;
    background-repeat: no-repeat;
    position: relative;
}

.read-more-item-4-xs span:hover {
    background: url(../img/svg/Element4_dark.svg) center;
    background-repeat: no-repeat;
}
/* MAIN */
/* Site-Style */
